In [1]:
# Titanic submission using Logistic Regression 
# Kaggle score: 0.74641

import pandas as pd
import numpy as np
from sklearn.linear_model import LogisticRegression

train_data = pd.read_csv('train.csv')
test_data = pd.read_csv('test.csv')

def clean_data(df):
    # Drop columns with missing data
    df = df.drop(['Name','Cabin','Ticket','Embarked','Parch'], axis = 1)
    
    # Replace categorical sex data with binary
    df['Sex'] = df['Sex'].replace(['male','female'],[0,1])
    
    # Fill missing age with mean
    df['Age'] = df['Age'].fillna(df['Age'].mean())
    df['Fare'] = df['Fare'].fillna(df['Fare'].mean())
    return df

train_data = clean_data(train_data)
test_data = clean_data(test_data)

In [2]:
# Split into data/target data frames
y_train = train_data.pop('Survived')

In [3]:
# Creating sklearn model
Log_Reg = LogisticRegression()
Log_Reg = Log_Reg.fit(train_data, y_train)

new_pred = Log_Reg.predict(test_data)
pd.DataFrame({'PassengerId': test_data.PassengerId, 
              'Survived':new_pred}
            ).set_index('PassengerId').to_csv('LR_sub.csv')

# Can now submit LR_sub.csv to kaggle

In [4]:
# Check prediction with previous RF submisson
comp = pd.read_csv('LR_sub.csv')
comp['Survived2'] = pd.read_csv('sub.csv').Survived
comp.head(20)

    PassengerId  Survived  Survived2
0           892         0          0
1           893         0          0
2           894         0          0
3           895         0          0
4           896         1          1
5           897         0          0
6           898         1          1
7           899         0          0
8           900         1          1
9           901         0          0
10          902         0          0
11          903         0          0
12          904         1          1
13          905         0          0
14          906         1          1
15          907         1          1
16          908         0          0
17          909         0          0
18          910         1          1
19          911         1          0